<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="net.myacxy.squinch"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="net.myacxy.squinch.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_android_black_24dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <service
            android:name="net.myacxy.squinch.TwitchExtension"
            android:icon="@drawable/ic_android_black_24dp"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA"
            >

            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2"
                />

            <meta-data
                android:name="worldReadable"
                android:value="true"
                />

            <meta-data
                android:name="description"
                android:value="Description"
                />

            <meta-data
                android:name="settingsActivity"
                android:value="net.myacxy.squinch.views.activities.SettingsActivity"
                />

        </service>

        <service
            android:name="net.myacxy.squinch.RetroTwitchJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <!--MainActivity-->
        <activity
            android:name="net.myacxy.squinch.views.activities.MainActivity"
            android:exported="true">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>

        </activity>

        <activity
            android:name="net.myacxy.squinch.views.activities.SettingsActivity"
            android:exported="true"
            />

        <!--
        <activity android:name=".TwitchActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

    </application>

</manifest>
